<div
  @fade
  class="container login-component"
  [formGroup]="loginForm">

  <div class="login-form">
    <!-- Username -->
    <mat-form-field
      class="maximize"
      appearance="outline">
      <mat-label>User name</mat-label>
      <input
        matInput
        placeholder="your user name"
        formControlName="userName" />
      <mat-icon matSuffix>face</mat-icon>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field
      class="maximize"
      appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="password"
        formControlName="password" />
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

  </div>

  <div class="btns-area">
    <!-- LOGIN button -->
    <button mat-stroked-button (click)="doLogin()">
      Login
    </button>
    <div class="error-msg">{{errorMsg}}</div>
  </div>

</div>
