@import "src/variables.scss";

/** *******************
* LAYOUT
*/
.container {
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-image {
  height: 100%;
  /* background-image: url($images_path + '/main02_1920x1080.jpg'); */
  /* background-image: url(../assets/files/main01.jpg); */
  background-color: black;
  background-size: cover;
  background-position: bottom;
}

.logo {
  padding-top: 2em;
  padding-left: 4em;

  &--img {
    width: 100%;
    max-width: 346px;
  }
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  padding-bottom: 1em;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 300px;  /* mobile width */
  margin-right: 2em;
  margin-top: 0.75em;
}

/* .login-component {
  width: 100%;
  background-color: rgb(222, 72, 65, 0.25);
  border: 1px solid rgb(222, 72, 65);
  border-radius: 4px;
} */

.copyright-foto {
  font-size: 0.75rem;
  font-weight: lighter;
  margin-left: 2em;
}

.copyright-text {
  font-size: 0.75rem;
  font-weight: lighter;
  margin-right: 2em;
}

/** *******************
* CARD (Log In)
*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

.card {
  border-radius: 4px;
  /* border: 1px solid #eee;
  background-color: #fafafa; */
  height: 20px;
  width: 120px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card:hover {
  color: rgb(222, 72, 65);
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(255, 255, 255, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}
