<div class="body-image"
  [style.background-image]="backgroundImage"
  >
  <div class="container">

    <header class="header">
      <!-- LOGO -->
      <a class="logo" routerLink="home">
        <img src="assets/images/sexyhot_logo.svg">
      </a>

      <!-- Login section -->
      <section class="login-section">

        <!-- Login button -->
        <div class="card-container">
          <!-- LogIn -->
          <a class="card" (click)="goLogin()">
            <span>Log In</span>
          </a>
        </div>

        <!-- Login component -->
        <ng-container class="login_component" *ngIf="activateLogin">
          <app-login [@fade]></app-login>
        </ng-container>
      </section>
    </header>

    <!-- Footer -->
    <footer class="footer">
      <div class="copyright-foto">{{copyrightPhoto}}</div>
      <div class="copyright-text">2021 copyright - All rights reserved</div>
    </footer>

  </div>
</div>
