<div class="body-image"
  [style.background-image]="backgroundImage"
  >
  <div class="container">

    <header class="header">
      <!-- LOGO -->
      <a class="logo" routerLink="home">
        <img src="assets/images/sexyhot_logo.svg">
      </a>

      <div class="header-right">

        <!-- language Selection -->
        <div class="language">
          <button mat-icon-button [matMenuTriggerFor]="language">
            <mat-icon>language</mat-icon>
          </button>
          <mat-menu #language="matMenu" xPosition="before">
            <a mat-menu-item href="/">
              <span>en - English</span>
            </a>
            <a mat-menu-item href="/es">
              <span>es - Español</span>
            </a>
            <a mat-menu-item href="/pt">
              <span>pt - Português</span>
            </a>
          </mat-menu>

        </div>

        <!-- Login button -->
        <div class="card-container">
          <!-- LogIn -->
          <a class="card" (click)="goLogin()">
            <span i18n="Main Page Header|Log In@@LogIn">Log In</span>
          </a>
        </div>
      </div>
    </header>

    <section class="body">
      <img class="image" [src]="appTitleImage" alt="">
      <!-- Login component -->
      <ng-container *ngIf="activateLogin">
        <app-login [@fade] class="login-section"></app-login>
      </ng-container>
    </section>

    <div class="filler"></div>

    <!-- Footer -->
    <footer class="footer">
      <div class="copyright-foto">{{copyrightPhoto}}</div>
      <div class="copyright-text" i18n="Main Page Footer|Copyright text@@FooterCopyright">2021 copyright - All rights reserved</div>
    </footer>

  </div>
</div>
