<div class="body-image">
  <div class="container">

    <header class="header">
      <!-- LOGO -->
      <div class="logo">
        <img src="assets/files/sexyhot_logo.svg">
      </div>

      <div class="card-container">
        <!-- LogIn -->
        <a class="card">
          <span>Log In</span>
        </a>
      </div>
    </header>

    <!-- Footer -->
    <footer class="footer">
      <div class="copyright-foto">Photo by John Rocha from Pexels</div>
      <div class="copyright-text">2020 copyright - All rights reserved</div>
    </footer>

  </div>
</div>
