<div class="container">

  <!-- Filter section -->
  <div class="filter">
    <h3 class="filter-title" i18n="Import Grids|Filter Titles@@Filter-Titles">Filters:</h3>

    <!-- Channel Name -->
    <mat-form-field
      color="primary"
      appearance="fill"
      class="filter-channel">
      <mat-label i18n="Import Grids|Filter for channels@@Filter-Channel">Channel</mat-label>
      <mat-select
        #filterChannel
        (selectionChange)="changeFilterChannel($event)">
        <mat-option i18n="Channel Option|Filter for channles@@Filter-All-Channels">All channels</mat-option>
        <mat-option
          *ngFor="let channel of channelOptions"
          [value]="channel.id">
          {{ channel.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Delete Button -->
    <ng-container *ngIf="deleteProcess">
      <button
        mat-raised-button
        (click)="confirmDelete()"
        color="accent"
        class="filter-btn"
        i18n="Import Grids|Filter Confirm Deletion of batchs@@Filter-Btn-Delete"
      >Confirm Delete
      </button>
    </ng-container>
    <!-- Cancel Delete Process -->
    <ng-container *ngIf="deleteProcess">
      <button
        mat-raised-button
        (click)="cancelDelete()"
        color="primary"
        class="filter-btn"
        i18n="Import Grids|Filter Cancel Deletion of batchs@@Filter-Btn-Cancel"
      >Cancel Delete
      </button>
    </ng-container>
  </div>

  <!-- Batchs Table -->
  <div class="table-container mat-elevation-z4">
    <!-- Spinner -->
    <div class="loading-spinner" *ngIf="batchsTable && batchsTable.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <mat-table
      [dataSource]="batchsTable"
      matSort
      (matSortChange)="changeSort($event)"
      class="table"
      >

      <!-- column channelName -->
      <ng-container matColumnDef="channelName">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        i18n="Batchs Table|@@column_channelName"
        > Channel Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.channelName}} </mat-cell>
      </ng-container>

      <!-- columna firstEvent -->
      <ng-container matColumnDef="firstEvent">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        i18n="Batchs Table|@@column_firstEvent"
        > First Event </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstEvent | date: 'y, MMM d, H:mm:ss z': tz}} </mat-cell>
      </ng-container>

      <!-- columna lastEvent -->
      <ng-container matColumnDef="lastEvent">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        i18n="Batchs Table|@@column_lastEvent"
        > Last Event </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastEvent | date: 'y, MMM d, H:mm:ss z': tz}} </mat-cell>
      </ng-container>

      <!-- column totalEvents -->
      <ng-container matColumnDef="totalEvents">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        i18n="Batchs Table|@@column_totalEvents"
        > Events </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalEvents}} </mat-cell>
      </ng-container>

      <!-- columna createdAt -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        i18n="Batchs Table|@@column_createdAt"
        > Created </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'y, MMM d, H:mm:ss z'}} </mat-cell>
      </ng-container>

      <!-- Delete Button -->
      <ng-container matColumnDef="btnDelete">
        <mat-header-cell
          *matHeaderCellDef
          i18n="Batchs Table|@@header_btnDelete"
        > Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="accent"
            (click)="deleteBatch(element.id)"
            i18n="Batchs Table|Text on boton Delete for each row@@row_btnDelete"
          >Delete
          </button>
        </mat-cell>
      </ng-container>

      <!-- Display Mark for deletion -->
      <ng-container matColumnDef="forDeletion">
        <mat-header-cell
          *matHeaderCellDef
          i18n="Batchs Table|@@header_markForDeletion"
        > Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-flat-button
            class="text-deletion"
            i18n="Batchs Table|@@row_markForDeletion"
          >mark for deletion
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></mat-row>
    </mat-table>
    <mat-paginator *ngIf="batchsTable.page$ | async as page"
      [length]="page.totalElements"
      [pageSize]="page.size"
      [pageIndex]="page.number"
      [pageSizeOptions]="[5, 7, 10, 20]"
      showFirstLastButtons
      (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>
