/* *******************
   Variables
 */
$width-table: 80%;

/* *******************
   LAYOUT
 */
 .container {
  max-width: 100vw;
  padding: 1em 1em;

  &--center {
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-direction: row;

  &--wrap {
    flex-wrap: wrap;
  }

  &--hcenter {
    justify-content: center;
  }

  &--vcenter {
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.filter {
  position: relative;
  width: $width-table;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-title {
    font-weight: 700;
    flex: 100%;
    margin-bottom: 0px;
  }

  &-btn {
    height: 50%;
    margin-left: 1em;
  }
}

.loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 56px;
  /* top: 0px;
  left: 0px;
  bottom: 56px;
  right: 0; */
  margin: auto auto;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .btn-delete {
  background-color:rgb(222, 72, 65);
  border: 1px solid red;
  border-radius: 4px;
} */

/*
  Table CSS
*/

.table-container {
  position: relative;
  width: $width-table;
  margin: 0 auto;
}

.table {
  position: relative;
  /* max-height: 400px; */
  overflow: auto;
}

.mark-deletion {
  background-color: orange;
}
.text-deletion {
  color: orange;
  font-weight: 700;
}


/* Columnas */
/* .mat-header-row,
.mat-row {
  flex-wrap: wrap;
  padding: 0 1em;
}

.mat-cell {
  min-height: 1em;
} */

.mat-column {

  &-channelName {
    flex: 0 0 170px;
  }

  &-firstEvent {
    flex: 0 0 200px;
  }

  &-lastEvent {
    flex: 0 0 200px;
  }

  &-totalEvents {
    flex: 0 0 60px;
  }

  &-createdAt {
    flex: 0 0 200px;
  }
}

@media (min-width: 360px) {
  .mat-cell {
    min-height: inherit;
  }
}

/* ****************************
   Angular Material elements
 */
 .mat-header-cell {
  font-weight: 700;
}

.mat-raised-button {
  line-height: 1rem;
  padding: 0.175em 1.3em 0.175em 1.20em;
}
