@import "src/variables.scss";

/**
* LAYOUT
*/
.container {
  height: 100%;
  background-color: #eee;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: linear-gradient(rgba(222, 72, 65,.5), rgba(222, 72, 65,.5)), url($images_path + '/sidenav01.jpg');
  border: 1px solid rgb(222, 72, 65);
  background-size: cover;
  background-position: center;

  &--img {
    margin: 1em 0.5em;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.content {
  background-color: #eee;

  &--toolbar {
    position: relative;
    top: 0;
    z-index: 1;
  }

  &--error {
    position: absolute;
    right: 6px;
  }

  .menu {
    color: white;

    &--option {
      color: white;
    }

    &--divider {
      margin-right: 1em;
      margin-left: 1em;
      border-color: white;
    }
  }
}
