<!-- SIDEBAR MAIN MENU -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sexyhot-dark-theme sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
    <!-- logo -->
    <img class="sidenav--img" src="assets/images/sexyhot_logo.svg">
    <!-- user -->
    <mat-divider></mat-divider>
    <mat-toolbar class="menu">{{currentUser.userName}}</mat-toolbar>
    <mat-divider></mat-divider>
    <!-- menu options -->
    <mat-nav-list>
      <a mat-list-item
        routerLink="/home/grids"
        routerLinkActive="active-link"
        i18n="Main Menu|Menu options@@MenuPpal-GridsImportBatchs"
      >Grid Import (batchs)</a>
      <a mat-list-item
        routerLink="/photos/upload"
        routerLinkActive="active-link"
        i18n="Main Menu|Menu options@@MenuPpal-PhotoUploads"
      >Photo uploads</a>
      <a mat-list-item
        (click)="prueba()"
      >Testing options</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- HTML BODY -->
  <mat-sidenav-content class="content">
    <!-- HEADER body -->
    <mat-toolbar>

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span #pgmTitle class="pgm-title"></span>

      <!-- Language Badge -->
      <mat-icon
        class="language-badge"
        [matBadge]="messagesService.defaultLanguage"
        matBadgeColor="primary"
        matTooltip="Language selected"
        matTooltipPosition="left"
        >
        language
      </mat-icon>

    </mat-toolbar>

    <!-- Error Messages section -->
    <app-error-messages class="content--error"></app-error-messages>

    <!-- Content for All Programs -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

